.button {
  background-color:white;
    border: 2px solid black;
  color: Black;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15.5px;
  margin: 5px;
  cursor: pointer;
}
.buttoncus {
  background-color:white;
    border: 2px solid black;
  color: Black;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15.5px;
  margin: 20px;
  cursor: pointer;
}
.info{
  background:#E5E5E5;
  width: 965px;
  height: 110px;
  padding: 15px;
  margin-left:30px;


}
.profile{
  background:#E5E5E5;
  width: 965px;
  height: 300px;
  padding: 15px;
  margin-left:30px;


}
.info table {
  border-collapse: collapse;
  font-size: 15.5px;
  font-family: "Open Sans", sans-serif;
}



.gap{
	margin-left:45px;
}

.infont{
  font-weight: 400;
	color: #000;
	font-size: 18px;
	padding-top: 21px;
  padding-right:15px;
  padding-left:15px;
  

}
* { margin: 0px; padding: 0px; }
body {
	font-family: Open Sans, sans-serif; 
	overflow:scroll;	
	height:500px;
	max-width:100%;
overflow-x:hidden;
	
}
#wrapper{
	
	height: 553px;
	width: 1400px;
	background:#fff;
}

#grid-selector{
	height: 10px;
	width: 1020px;
	padding: 40px 0 40px 30px;
	float: left;
	color: #5d5f68;
	font-size: 14px;
	background-color:;
  
}
#grid-menu{
	float:left;
	width:105px;
  
}
#grid-menu ul{
  width: 65px;
  float: right;
  position: relative;
  top: -1px;}
#grid-menu li{	 
	 float:right;
	 width:25px;
	 height:25px;
	 list-style:none;
}
#grid-menu li a{	 
  	 display:block;
	 width:25px;	
	 height:25px;
	 background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/grid-menu.png") 0 0  no-repeat;
}
#grid-menu li.smallGrid{margin-right:7px;}
#grid-menu li.smallGrid a{background-position:0 -33px;}
#grid-menu li.largeGrid a{background-position:-37px 0;}

#grid-menu li.smallGrid a.active{background-position:0 0;}
#grid-menu li.largeGrid a.active{background-position:-37px -33px;}
 

#grid{	
	width: 1000px;
	position: absolute;
	left: 320px;
	height: 500px;
	top: 200px; 
	background-color:;
	
  
}
#sidebar{
	float:left;
	background:#fff;
	width:275px;	
	padding:13px 0 0 45px;
	height:500px;
	border-right:1px solid #eee;
  	

}
#sidebar h3{
	color:#262626;
	text-transform:uppercase;
	font-size:14px;
	font-weight:700;
	padding:35px 0 10px 0;
	letter-spacing:1px;
	clear:both;
  

}
#cart{padding:0px;}
#cart .empty{
	font-style:italic;
	color:#a0a3ab;
	font-size:14px;
	letter-spacing:1px;	
}
.cart_item{
	float:left;
	width:100%;
	height:100px;
    margin-top:5px;
	background-color:;
	
	
}
.cart_date{
	height:100%;
	width:70px;
	background-color:white;
	float:left;
	
	}
	
.cart_name{
	height:100%;
	width:715px;
	background-color:;
	float:left;
	padding-left:20px;

}

.cart_del{
	height:100%;
	width:150px;
	background-color:;
	float:right;
}
#sidebar .checklist{
	padding:0;
}



.colors ul, .sizes ul{
	float:left; width:130px;	
}
.colors ul li{padding-left:21px;}
.colors a span{
	border:none;
	position:relative;
	border-radius:100%;
	background-color:#eae3d3;
	width:13px;
	height:13px;
	margin-left:-20px;
}
.colors a:hover span{
	width:15px;
	height:15px;
	margin-top:3px;
	margin-left:-21px;
}
#sidebar img{margin-top:6px;}

.product{
    position: relative;
    perspective: 800px;
    width:306px;
    height:471px;
    transform-style: preserve-3d;
    transition: transform 5s;
	float:left; 
	margin-right: 23px;
	-webkit-transition: width 500ms ease-in-out;
	   -moz-transition: width 500ms ease-in-out;
		-ms-transition: width 500ms ease-in-out;
		 -o-transition: width 500ms ease-in-out;
 		    transition: width 500ms ease-in-out;
}
.product-front img{width:100%;}
.product-front, .product-back{
	width:315px;
	height:480px;
	background:#fff;
	position:absolute;
	left:-5px;
	top:-5px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
.product-back{
	display:none;
	transform: rotateY( 180deg );
}
.make3D.animate .product-back,
.make3D.animate .product-front,
div.large .product-back{
	top:0px;
	left:0px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
.make3D{
	width:305px;
	height:470px;
	position:absolute;    
	top:10px;
	left:10px;	
	overflow:hidden;
    transform-style: preserve-3d;
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out;
}
div.make3D.flip-10{
	 -webkit-transform: rotateY( -10deg );
         -moz-transform: rotateY( -10deg );
           -o-transform: rotateY( -10deg );
              transform: rotateY( -10deg );
			   transition:  50ms ease-out; 			
}
div.make3D.flip90{
	 -webkit-transform: rotateY( 90deg );
         -moz-transform: rotateY( 90deg );
           -o-transform: rotateY( 90deg );
              transform: rotateY( 90deg );
			   transition:  100ms ease-in; 			
}
div.make3D.flip190{
	 -webkit-transform: rotateY( 190deg );
         -moz-transform: rotateY( 190deg );
           -o-transform: rotateY( 190deg );
              transform: rotateY( 190deg );
			   transition:  100ms ease-out; 			
}
div.make3D.flip180{
	 -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
			   transition:  150ms ease-out; 			
}
.make3D.animate{
	top:5px;
	left:5px;
	width:315px;
	height:480px;
	box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out; 
}
div.large .make3D{
	top:0;
	left:0;
	width:315px;
	height:480px;
	-webkit-transition:  300ms ease-out; 
       -moz-transition:  300ms ease-out; 
         -o-transition:  300ms ease-out; 
            transition:  300ms ease-out; 
}
.large div.make3D{box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0);}
.large div.flip-back{display:none;}
.stats-container{
	background:#fff;	
	position:absolute;
	top:382px;
	left:0;
	width: 252px;
	height: 300px;
	padding: 24px 40px 35px 32px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}
.make3D.animate .stats-container{
	top:265px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.stats-container .product_name{
	font-size: 15px;
    color: #393c45;
    font-weight: 700;
}
.stats-container p{
	font-size:15px;
	color:#b1b1b3;	
	padding:2px 0 20px 0;
}
.stats-container .product_price{
	float:right;
	color:#000000;
	font-size:22px;
	font-weight:600;
}
.image_overlay{
	position:absolute;
	top:0;
	left:0; 
	width:100%;
	height:100%;
	background:#000000;
	opacity:0;	
}
.make3D.animate .image_overlay{
	opacity:0.7;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.product-options{
	padding:0;
}
.product-options strong{
	font-weight:700;
	color:#393c45;
	font-size:14px;
}
.product-options span{	
	color:#969699;
	font-size:14px;
	display:block;
	margin-bottom:8px;
}
.add_to_cart{	
	position:absolute;
	top:60px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.add_to_cart:hover{	
	background:#fff;
	color:#000000;
	cursor:pointer;

}
.make3D.animate .add_to_cart{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}

.reject{	
	position:absolute;
	top:115px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.reject:hover{	
	background:#fff;
	color:#000000;
	cursor:pointer;

}
.make3D.animate .reject{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}

.view_gallery{	
	position:absolute;
	top:170px;
	left:50%;
	width:152px;
	font-size:15px;
	margin-left:-78px;
	border:2px solid #fff;
	color:#fff;	
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.view_gallery:hover{	
	background:#fff;
	color:#000000;
	cursor:pointer;

}
.make3D.animate .view_gallery{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
div.colors div{
	margin-top:3px;
	width:15px; 
	height:15px; 	
	margin-right:5px;
	float:left;
}
div.colors div span{
	width:15px; 
	height:15px; 
	display:block;
	border-radius:50%;
}
div.colors div span:hover{
	width:17px;
	height:17px;
	margin:-1px 0 0 -1px;
}
div.c-blue span{background:#6e8cd5;}
div.c-red span{background:#f56060;}
div.c-green span{background:#44c28d;}
div.c-white span{
	background:#fff;
	width:14px;
	height:14px; 
	border:1px solid #e8e9eb;
}
div.shadow{
	width:335px;height:520px;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	display:none;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
}
.product-back div.shadow{
	z-index:10;
	opacity:1;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); 
}
.flip-back{
	position:absolute;
	top:20px;
	right:20px;
	width:30px;
	height:30px;
	cursor:pointer;
}
.cx, .cy{
	background:#d2d5dc;
	position:absolute;
	width:0px;
	top:15px;
	right:15px;
	height:3px;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
.flip-back:hover .cx, .flip-back:hover .cy{
	background:#979ca7;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
.cx.s1, .cy.s1{	
	right:0;	
	width:30px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s2{	
	-ms-transform: rotate(50deg); 
	-webkit-transform: rotate(50deg); 
	transform: rotate(50deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s3{	
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s1{	
	right:0;	
	width:30px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s2{	
	-ms-transform: rotate(140deg); 
	-webkit-transform: rotate(140deg); 
	transform: rotate(140deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s3{	
	-ms-transform: rotate(135deg); 
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		 
	-webkit-transition: all 100ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.carousel{
	width:315px;
	height:500px;
	overflow:hidden;
	position:relative;
}
.carousel ul{
	position:absolute;
	top:0;
	left:0;
}
.carousel li{
	width:315px;
	height:500px;
	float:left;
	overflow:hidden;	
}
.carousel img{
	margin-top: -22px;
	width: 110%;
}
.arrows-perspective{
	width:315px;
	height:55px;
	position: absolute;
	top: 218px;
	transform-style: preserve-3d;
    transition: transform 5s;
	perspective: 335px;
}
.carouselPrev, .carouselNext{
	width: 50px;
	height: 55px;
	background: #ccc;
	position: absolute;	
	top:0;
	transition: all 200ms ease-out; 
	opacity:0.9;
	cursor:pointer;
}
.carouselNext{
	top:0;
	right: -26px;
	-webkit-transform: rotateY( -117deg );
         -moz-transform: rotateY( -117deg );
           -o-transform: rotateY( -117deg );
              transform: rotateY( -117deg );
			  transition: all 200ms ease-out; 			

}
.carouselNext.visible{
		right:0;
		opacity:0.8;
		background: #fff;
		-webkit-transform: rotateY( 0deg );
         -moz-transform: rotateY( 0deg );
           -o-transform: rotateY( 0deg );
              transform: rotateY( 0deg );
			  transition: all 200ms ease-out; 
}
.carouselPrev{		
	left:-26px;
	top:0;
	-webkit-transform: rotateY( 117deg );
         -moz-transform: rotateY( 117deg );
           -o-transform: rotateY( 117deg );
              transform: rotateY( 117deg );
			  transition: all 200ms ease-out; 

}
.carouselPrev.visible{
		left:0;
		opacity:0.8;
		background: #fff;
		-webkit-transform: rotateY( 0deg );
         -moz-transform: rotateY( 0deg );
           -o-transform: rotateY( 0deg );
              transform: rotateY( 0deg );
			  transition: all 200ms ease-out; 
}
.carousel .x, .carousel .y{
	height:2px;
	width:15px;
	background:#000000;
	position:absolute;
	top:31px;
	left:17px;
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);	
}
.carousel .x{
	-ms-transform: rotate(135deg); 	
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		
	top:21px;
}
.carousel .carouselNext .x{
	-ms-transform: rotate(45deg); 	
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		
}
.carousel .carouselNext .y{
	-ms-transform: rotate(135deg); 	
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		
}
div.floating-cart{
	position:absolute;
	top:0;
	left:0; 
	width:315px;	
	height:480px;
	background:#fff;
	z-index:200;
	overflow:hidden;
	box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);
	display:none;
}

div.floating-cart .stats-container{display:none;}
div.floating-cart .product-front{width:100%; top:0; left:0;}
div.floating-cart.moveToCart{
	left: 75px !important;
	top: 55px !important;
	width: 47px;
	height: 47px;	
	-webkit-transition: all 800ms ease-in-out;
	   -moz-transition: all 800ms ease-in-out;
		-ms-transition: all 800ms ease-in-out;
		 -o-transition: all 800ms ease-in-out;
 		    transition: all 800ms ease-in-out; 
}
body.MakeFloatingCart div.floating-cart.moveToCart{	
	left: 90px !important;
	top: 230px !important;
	width: 21px;
	height: 22px;
	box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0);
	-webkit-transition: all 200ms ease-out;
	   -moz-transition: all 200ms ease-out;
		-ms-transition: all 200ms ease-out;
		 -o-transition: all 200ms ease-out;
 		    transition: all 200ms ease-out;
}
	
.cart-item{	
	padding: 11px 0 5px 110px;
	height: 62px;
	width: 210px;
	margin-left: -45px;
	position:relative;
	background:#fff;
	-webkit-transition: all 1000ms ease-out;
	   -moz-transition: all 1000ms ease-out;
		-ms-transition: all 1000ms ease-out;
		 -o-transition: all 1000ms ease-out;
 		    transition: all 1000ms ease-out;
}
.cart-item.flash{background:#fffeb0;}
.cart-item-border{
	position:absolute;
	bottom:0;
	left:45px;
	background:#edeff0;
	height: 1px;
	width: 230px;
}
.cart-item .img-wrap{
	width:50px; 
	height:50px; 
	overflow:hidden;
	border:1px solid #000000;
	float:left;
	margin-left:-65px;	
}
.cart-item img{width:100%; position:relative;top:-10px;}
.cart-item strong{color:#000000; font-size:16px;}
.cart-item span{
	color: #393c45;
    display: block;
    font-size: 14px;
 }

.cart-item .delete-item{
	background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/delete-item.png") 0 0 no-repeat;
	width:15px;
	height:15px;
	float:right;
	margin-right:18px;
	display:none;
}
.cart-item:hover .delete-item{display:block;cursor:pointer}


#checkout{
	border: 2px solid #000000;
	font-size: 13px;
	font-weight: 700;
	padding: 3px 9px;
	position: absolute;
	top: 223px;
	left: 181px;
	color: #000000;
	display:none;
}

.product.large{
	width:639px;
	margin-bottom:25px;
	margin-left:175px;
	overflow:hidden;
	-webkit-transition: all 500ms ease-in-out;
	   -moz-transition: all 500ms ease-in-out;
		-ms-transition: all 500ms ease-in-out;
		 -o-transition: all 500ms ease-in-out;
 		    transition: all 500ms ease-in-out;
}




/* ---------------- */
.floating-image-large{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
.info-large{
	  display:none;
	  position: absolute;
	  top: 0;
	  left: 0px;
	  padding: 42px;
	  
	  width: 245px;
	  height: 395px;
	  -webkit-transition: all 500ms ease-out;
	   -moz-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;
		 -o-transition: all 300ms ease-out;
 		    transition: all 300ms ease-out;
}
.large .info-large{
	left: 310px;
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;
		 -o-transition: all 300ms ease-out;
 		    transition: all 300ms ease-out;
}

.info-large h4{
	text-transform:uppercase;
	font-size:28px;
	color:#000;
	font-weight:400;
	padding:0;
}
div.sku{
	  font-weight: 700;
	  color: #000;
	  font-size: 15.5px;
	  padding-top: 11px;
}
div.sku strong{
	color:#000;
}
.price-big{
	font-size: 34px;
    font-weight: 600;
    color: #000000;
    margin-top: 21px;
}
.price-big span{
	color:#d0d0d0;
	font-weight:400;
	text-decoration:line-through;
}

.add-cart-large{
	  border: 3px solid #000;
	  font-size: 17px;
	  background: #fff;
	  text-transform: uppercase;
	  font-weight: 700;
	  padding: 10px;
	  font-family: "Open Sans", sans-serif;
	  width: 246px;
	  margin-top: 38px;	
	  -webkit-transition: all 200ms ease-out;
	   -moz-transition: all 200ms ease-out;
		-ms-transition: all 200ms ease-out;
		 -o-transition: all 200ms ease-out;
 		    transition: all 200ms ease-out;
}
.add-cart-large:hover{
	color: #000000;
	border-color:#000000;
	-webkit-transition: all 200ms ease-out;
	   -moz-transition: all 200ms ease-out;
		-ms-transition: all 200ms ease-out;
		 -o-transition: all 200ms ease-out;
 		    transition: all 200ms ease-out;
			cursor:pointer;
}
.removecart{
	  border: 3px solid #000;
	  font-size: 17px;
	  background: #fff;
	  text-transform: uppercase;
	  font-weight: 700;
	  padding: 10px;
	  font-family: "Open Sans", sans-serif;
	  width: 246px;
	  margin-top: 38px;	
	  -webkit-transition: all 200ms ease-out;
	   -moz-transition: all 200ms ease-out;
		-ms-transition: all 200ms ease-out;
		 -o-transition: all 200ms ease-out;
 		    transition: all 200ms ease-out;
}
.removecart:hover{
	color: #00000;
	border-color:#0000;
	-webkit-transition: all 200ms ease-out;
	   -moz-transition: all 200ms ease-out;
		-ms-transition: all 200ms ease-out;
		 -o-transition: all 200ms ease-out;
 		    transition: all 200ms ease-out;
			cursor:pointer;
}
.info-large h3{
    letter-spacing: 1px;
    color: #262626;
    text-transform: uppercase;
    font-size: 14px;
	clear:left;
	margin-top:20px;
    font-weight: 700;
	margin-bottom:3px;
}


.colors-large{
	margin-bottom:38px;
}
.colors-large li{
	float:left;
	list-style:none;
	margin-right:7px;
	width:16px;
	height:16px;
}
.colors-large li a{
	float:left;
	width:16px;
	height:16px;
	border-radius:50%;
}
.colors-large li a:hover{
	width:19px;
	height:19px;
	position:relative;
	top:-1px;
	left:-1px;
}

.sizes-large{
}
.sizes-large span{
	font-weight:600;
	color:#b0b0b0;
}
.sizes-large span:hover{color:#000;cursor:pointer;}

.product.large:hover{
	box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);	
}
.admin{
width:1350px;
height:5%;
        text-align:center;
         color: black;
		 background-color:;	
		 
}
.adminbuttons{
		
		width:auto;
		height:80%;
		
		color: black;
		float:right;
		margin-right:10px;
		font-size:13px;
        text-align:center;
		font-family: Verdana, sans-serif;
		
		

}
/* start dark google translate theme */
div#google_translate_element div.goog-te-gadget-simple{
  background-color:white;
  border-color:black;
  border:none;
  appearance:none; 
  padding: 7px;
}

div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span{
  color:black;
  
}
    
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:hover{
  color:white;
  
}
/* end dark google translate theme */
.dropbtn {
  background-color:white;
  color: Black;
  padding: 5px;
  border: none;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #E5E5E5;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #F5f5f5;}
.webname{
	width:1350px;
	height:120px;
	background-color:;
}
.websitename{
font-family:Lucida Handwriting;
         font-size:60px;
         opacity:;
		 text-align:left;
		 padding-left:40px;
		 background-color:;
         float:left;
		 width:auto;
		 color: black;
		 padding-right:100px;
		 padding-top:10px;
		 height:auto;
		 }
*,
*:after,
*:before,

.menu ol
	{margin:0;padding:0}

.menu ol
	{list-style-type:none}

.menu{
	width:auto;
	padding:10px 15px;
	display:block;
	position:;
	float:right;
	}

.menu > ol:first-child{
	width:100%;
	display:flex;
	position:relative;
	flex-flow:row wrap;
	justify-content:center
	}

.menu-item{
	width:115px;
	position:relative;
	perspective:100%;
	cursor:pointer;
    
	}

.menu-item a{
	width:100%;
	padding:16px 0px;
	display:block;
	position:relative;
	color:black;
	border-radius:4px;
	transition:all .5s ease;
	transform-style:preserve-3d;
 
  
	}

.menu-item a:before{
	width:100%;
	padding:16px 0;
	display:block;
	position:absolute;
	color:#000;
	border-radius:4px
	}

.menu > ol:first-child > .menu-item
	{display:block}

.menu > ol:first-child > .menu-item > a
	{background:white;}

.menu > ol:first-child > .menu-item:nth-of-type(2) > a,
.menu > ol:first-child > .menu-item:nth-of-type(4) > a
	{border-left:1px solid #fff;border-right:1px solid #fff}

.menu > ol:first-child > .menu-item > a:before
	{background:#f5f5f5;bottom:90%;transform:rotateX(-90deg) translate3d(0,0,75px)}

.menu > ol:first-child > .menu-item:nth-of-type(1) > a:before
	{content:"About"}

.menu > ol:first-child > .menu-item:nth-of-type(2) > a:before
	{content:"Appoint"}

.menu > ol:first-child > .menu-item:nth-of-type(3) > a:before
	{content:"Order"}
.menu > ol:first-child > .menu-item:nth-of-type(4) > a:before
	{content:"Compare"}
.menu > ol:first-child > .menu-item:nth-of-type(5) > a:before
	{content:"NGO"}

.menu > ol:first-child > .menu-item:nth-of-type(6) > a:before
	{content:"Info"}
.menu > ol:first-child > .menu-item:nth-of-type(7) > a:before
	{content:"Sitemap"}
.menu > ol:first-child > .menu-item:nth-of-type(3) > a:after,
.menu > ol:first-child > .menu-item:nth-of-type(5) > a:after,
.menu > ol:first-child > .menu-item:nth-of-type(6) > a:after{
	content:"\0025BE";
	width:100%;
	padding:30px 0 0 0;
	top:0;
	display:block;
	position:absolute;
	color:#fff;
	font-size:15.5px;
	text-align:center
	}

.menu > ol:first-child > .menu-item:hover > a
	{transform:rotateX(90deg)}

.menu > ol:first-child > .menu-item:nth-of-type(3):hover > a:after,
.menu > ol:first-child > .menu-item:nth-of-type(5):hover > a:after
.menu > ol:first-child > .menu-item:nth-of-type(6):hover > a:after
{content:"\0025B4";color:#000;transform:rotateX(-90deg) translate3d(0,0,75px)}

.sub-menu{
	background:#fff;
	width:100%;
	display:none;
	position:absolute;
	top:51px;
	z-index:99;
	border-top:1px solid #fff
	}

.sub-menu > .menu-item:nth-of-type(1)
	{animation:fadein-down .5s .2s ease both}

.sub-menu > .menu-item:nth-of-type(2)
	{animation:fadein-down .7s .2s ease both}

.sub-menu > .menu-item:nth-of-type(3)
	{animation:fadein-down .9s .2s ease both}

@keyframes fadein-down{
	from{display:none;opacity:0;transform:translateY(-10px)}
	to{display:block;opacity:1;transform:translateY(0)}
	}

.sub-menu > .menu-item > a
	{background:#f5f5f5}

.sub-menu > .menu-item:nth-of-type(2) > a
	{border-top:1px solid #fff;border-bottom:1px solid #fff}

.sub-menu > .menu-item > a:before
	{background:#e5e5e5;top:0;color:black;font-family:Verdana, sans-serif;font-size: 15.5px;}

.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item > a:before
	{transform:rotateY(-90deg) translate3d(0,0,75px)}

.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(1) > a:before
	{content:"Allopethic Medicine"}

.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(2) > a:before
	{content:"Homeopathic Medicine"}

.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(3) > a:before
	{content:"Aryuveda"}

.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:hover > a
	{transform:rotateY(90deg)}
.sub-menu > .menu-item:nth-of-type(4)
	{animation:fadein-down .5s .2s ease both}
.menu > ol:first-child > .menu-item:nth-of-type(5) > .sub-menu > .menu-item > a:before
	{transform:rotateY(90deg) translate3d(0,0,75px)}

.menu > ol:first-child > .menu-item:nth-of-type(5) > .sub-menu > .menu-item:nth-of-type(1) > a:before
	{content:"Education"}

.menu > ol:first-child > .menu-item:nth-of-type(5) > .sub-menu > .menu-item:nth-of-type(2) > a:before
	{content:"Healthcare"}

.menu > ol:first-child > .menu-item:nth-of-type(6) > .sub-menu > .menu-item > a:before
	{transform:rotateY(90deg) translate3d(0,0,75px)}

.menu > ol:first-child > .menu-item:nth-of-type(6) > .sub-menu > .menu-item:nth-of-type(1) > a:before
	{content:"Home Remedies"}
.menu > ol:first-child > .menu-item:nth-of-type(6) > .sub-menu > .menu-item:nth-of-type(2) > a:before
	{content:"Disease Information"}

.menu > ol:first-child > .menu-item:nth-of-type(5) > .sub-menu > .menu-item:hover > a
	{transform:rotateY(-90deg)}

.menu > ol:first-child > .menu-item:nth-of-type(6) > .sub-menu > .menu-item:hover > a
	{transform:rotateY(-90deg)}
.menu > ol:first-child > .menu-item:hover > .sub-menu
	{display:block}

@media screen and (min-width:321px) and (max-width:799px){
	.menu
		{width:320px;margin:auto}
	}

@media (max-width:799px){
	.menu > ol:first-child > .menu-item
		{width:100%}
	
	.menu > ol:first-child > .menu-item > a
		{box-shadow:none}
	
	.menu > ol:first-child > .menu-item:nth-of-type(2) > a,
	.menu > ol:first-child > .menu-item:nth-of-type(4) > a
		{border:1px solid #fff;border-left:none;border-right:none}
	
	.sub-menu > .menu-item
		{margin:auto}
	}
a{text-decoration: none;
	color:black;
	text-align:center;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#E5E5E5;
  color: Black;
  text-align: center;
  position:relative;
  font-family: Verdana, sans-serif;
  font-size:13px;
  margin-top:500px;
  

  }
  @import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.footer-social-icons ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}

.footer-social-icons {
    
    display:block;
    
}
.social-icon {
    color: #E5E5E5;
}
.social-icons li {
    display: inline;
    height: 100px;
}
.social-icons a {
    color: black;
    text-decoration: none;
}
.fa-facebook {
	
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #E5E5E5;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #E5E5E5;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #e5e5e5;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #e5e5e5;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #e5e5e5;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #e5e5e5;
}
.fa-google-plus:hover {
    background-color: #e25714;
}
.footer table, th, td {
margin-left:200px;
width:1300px;
height:30px;
 color:black;
   background-color:;
   font-size:13px;
   font-family: Verdana, sans-serif;
   

}