html {
  scroll-behavior: smooth;
}
.admin{
width:100%;
height:5%;
        text-align:center;
         color: black;
		 background-color:white;	
		 
}
.adminbuttons{
		
		width:auto;
		height:100%;
		background-color:white;
		color: black;
		float:right;
		margin-right:10px;
		font-size:13px;
        text-align:center;
		font-family: Verdana, sans-serif;
		
		

}
/* start dark google translate theme */
div#google_translate_element div.goog-te-gadget-simple{
  background-color:white;
  border-color:black;
  border:none;
  appearance:none; 
  padding: 7px;
}

div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span{
  color:black;
  
}
    
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:hover{
  color:white;
  
}
/* end dark google translate theme */
.dropbtn {
  background-color:white;
  color: Black;
  padding: 5px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #E5E5E5;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #F5f5f5;}
.webname{
	width:100%;
	height:120px;
	background-color:;
}
.websitename{
font-family:Lucida Handwriting;
         font-size:60px;
         opacity:;
		 text-align:left;
		 padding-left:35px;
		 background-color:white;
         float:left;
		 width:505px;
		 color: black;
		
		 
		 }
*,
*:after,
*:before,

.menu ol
	{margin:0;padding:0}

.menu ol
	{list-style-type:none}

.menu{
	width:835px;
	padding:10px 15px;
	display:block;
	position:relative;
	float:right;
	background-color:;
	}

.menu > ol:first-child{
	width:100%;
	display:flex;
	position:relative;
	flex-flow:row wrap;
	justify-content:center
	}

.menu-item{
	width:115px;
	position:relative;
	perspective:100%;
	cursor:pointer;
    
	}

.menu-item a{
	width:100%;
	padding:16px 0px;
	display:block;
	position:relative;
	color:black;
	border-radius:4px;
	transition:all .5s ease;
	transform-style:preserve-3d;
 
  
	}

.menu-item a:before{
	width:100%;
	padding:16px 0;
	display:block;
	position:absolute;
	color:#000;
	border-radius:4px
	}

.menu > ol:first-child > .menu-item
	{display:block}

.menu > ol:first-child > .menu-item > a
	{background:white;}

.menu > ol:first-child > .menu-item:nth-of-type(2) > a,
.menu > ol:first-child > .menu-item:nth-of-type(4) > a
	{border-left:1px solid #fff;border-right:1px solid #fff}

.menu > ol:first-child > .menu-item > a:before
	{background:#f5f5f5;bottom:90%;transform:rotateX(-90deg) translate3d(0,0,75px)}

.menu > ol:first-child > .menu-item:nth-of-type(1) > a:before
	{content:"About"}

.menu > ol:first-child > .menu-item:nth-of-type(2) > a:before
	{content:"Appoint"}

.menu > ol:first-child > .menu-item:nth-of-type(3) > a:before
	{content:"Order"}
.menu > ol:first-child > .menu-item:nth-of-type(4) > a:before
	{content:"Compare"}
.menu > ol:first-child > .menu-item:nth-of-type(5) > a:before
	{content:"NGO"}

.menu > ol:first-child > .menu-item:nth-of-type(6) > a:before
	{content:"Info"}
.menu > ol:first-child > .menu-item:nth-of-type(7) > a:before
	{content:"Sitemap"}
.menu > ol:first-child > .menu-item:nth-of-type(3) > a:after,
.menu > ol:first-child > .menu-item:nth-of-type(5) > a:after,
.menu > ol:first-child > .menu-item:nth-of-type(6) > a:after{
	content:"\0025BE";
	width:100%;
	padding:30px 0 0 0;
	top:0;
	display:block;
	position:absolute;
	color:#fff;
	font-size:15.5px;
	text-align:center
	}

.menu > ol:first-child > .menu-item:hover > a
	{transform:rotateX(90deg)}

.menu > ol:first-child > .menu-item:nth-of-type(3):hover > a:after,
.menu > ol:first-child > .menu-item:nth-of-type(5):hover > a:after
.menu > ol:first-child > .menu-item:nth-of-type(6):hover > a:after
{content:"\0025B4";color:#000;transform:rotateX(-90deg) translate3d(0,0,75px)}

.sub-menu{
	background:#fff;
	width:100%;
	display:none;
	position:absolute;
	top:51px;
	z-index:99;
	border-top:1px solid #fff
	}

.sub-menu > .menu-item:nth-of-type(1)
	{animation:fadein-down .5s .2s ease both}

.sub-menu > .menu-item:nth-of-type(2)
	{animation:fadein-down .7s .2s ease both}

.sub-menu > .menu-item:nth-of-type(3)
	{animation:fadein-down .9s .2s ease both}

@keyframes fadein-down{
	from{display:none;opacity:0;transform:translateY(-10px)}
	to{display:block;opacity:1;transform:translateY(0)}
	}

.sub-menu > .menu-item > a
	{background:#f5f5f5}

.sub-menu > .menu-item:nth-of-type(2) > a
	{border-top:1px solid #fff;border-bottom:1px solid #fff}

.sub-menu > .menu-item > a:before
	{background:#e5e5e5;top:0;color:black;font-family:Verdana, sans-serif;font-size: 15.5px;}

.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item > a:before
	{transform:rotateY(-90deg) translate3d(0,0,75px)}

.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(1) > a:before
	{content:"Allopethic Medicine"}

.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(2) > a:before
	{content:"Homeopathic Medicine"}

.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:nth-of-type(3) > a:before
	{content:"Aryuveda"}

.menu > ol:first-child > .menu-item:nth-of-type(3) > .sub-menu > .menu-item:hover > a
	{transform:rotateY(90deg)}
.sub-menu > .menu-item:nth-of-type(4)
	{animation:fadein-down .5s .2s ease both}
.menu > ol:first-child > .menu-item:nth-of-type(5) > .sub-menu > .menu-item > a:before
	{transform:rotateY(90deg) translate3d(0,0,75px)}

.menu > ol:first-child > .menu-item:nth-of-type(5) > .sub-menu > .menu-item:nth-of-type(1) > a:before
	{content:"Education"}

.menu > ol:first-child > .menu-item:nth-of-type(5) > .sub-menu > .menu-item:nth-of-type(2) > a:before
	{content:"Healthcare"}

.menu > ol:first-child > .menu-item:nth-of-type(6) > .sub-menu > .menu-item > a:before
	{transform:rotateY(90deg) translate3d(0,0,75px)}

.menu > ol:first-child > .menu-item:nth-of-type(6) > .sub-menu > .menu-item:nth-of-type(1) > a:before
	{content:"Home Remedies"}
.menu > ol:first-child > .menu-item:nth-of-type(6) > .sub-menu > .menu-item:nth-of-type(2) > a:before
	{content:"Disease Information"}

.menu > ol:first-child > .menu-item:nth-of-type(5) > .sub-menu > .menu-item:hover > a
	{transform:rotateY(-90deg)}

.menu > ol:first-child > .menu-item:nth-of-type(6) > .sub-menu > .menu-item:hover > a
	{transform:rotateY(-90deg)}
.menu > ol:first-child > .menu-item:hover > .sub-menu
	{display:block}

@media screen and (min-width:321px) and (max-width:799px){
	.menu
		{width:320px;margin:auto}
	}

@media (max-width:799px){
	.menu > ol:first-child > .menu-item
		{width:100%}
	
	.menu > ol:first-child > .menu-item > a
		{box-shadow:none}
	
	.menu > ol:first-child > .menu-item:nth-of-type(2) > a,
	.menu > ol:first-child > .menu-item:nth-of-type(4) > a
		{border:1px solid #fff;border-left:none;border-right:none}
	
	.sub-menu > .menu-item
		{margin:auto}
	}

 * {box-sizing:border-box}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#E5E5E5;
  color: Black;
  text-align: center;
  position:relative;
  font-family: Verdana, sans-serif;
  font-size:13px;

  }

body { margin:0; }
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}

table, th, td {
margin-left:140px;
width:1200px;
height:30px;
 color:black;
   background-color:;
   font-size:13px;
   font-family: Verdana, sans-serif;
   

}
.m{
	background-color:#f5F5f5;
font-family: Verdana, sans-serif;
font-size:16px;
padding-left:200px;
padding-right:200px;

}
.h{	background-color:#f5F5f5;
}
a{text-decoration: none;
	color:black;
	text-align:center;
}
* {
  box-sizing: border-box;
}
video {
  width: 100%;
  height: auto;
}
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.footer-social-icons ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}

.footer-social-icons {
    
    display:block;
    
}
.social-icon {
    color: #E5E5E5;
}
.social-icons li {
    display: inline;
    height: 100px;
}
.social-icons a {
    color: black;
    text-decoration: none;
}
.fa-facebook {
	
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #E5E5E5;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #E5E5E5;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #e5e5e5;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #e5e5e5;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #e5e5e5;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #e5e5e5;
}
.fa-google-plus:hover {
    background-color: #e25714;
}
#mainbody{
	background-image:url("patricia-e-1252846-unsplash.jpg");
	height: 1400px;
	background-position: center;
	

}